{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 120,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte"]
}
