@use "editor";
@use "animation";

.STYLESHIFT-Main {
	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}

	* {
		user-select: none;
	}

	textarea {
		white-space: nowrap !important;

		&::-webkit-scrollbar {
			width: 10px !important;
			height: 10px !important;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px !important;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--Grey-Dark) !important;
			border-radius: 10px !important;
		}
	}

	.STYLESHIFT-Scrollable {
		&::-webkit-scrollbar {
			width: 6px !important;
			height: 10px !important;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px !important;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--Grey-Dark) !important;
			border-radius: 10px !important;
		}
	}

	.STYLESHIFT-All-Transition {
		transition: all 0.3s;
	}

	.STYLESHIFT-Config-Sub-Frame {
		border: white 1px dashed;
		background: var(--BG-Input);
		align-items: start !important;

		.STYLESHIFT-Main-Description {
			text-align: left !important;
		}
	}

	.STYLESHIFT-Collapse {
		width: -webkit-fill-available;
	}

	> .STYLESHIFT-Setting-Frame {
		background: var(--Setting-Frame-BG);
	}

	.STYLESHIFT-Number-Input {
		width: 50px;
		height: 15px;
		background: var(--BG-Input);
		border: none;
		box-shadow: 0px 0px 3px white;
		padding-inline: 10px;
		padding-block: 5px;
		text-align: center;
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		&:hover {
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: meter;
			}

			-moz-appearance: unset;
		}
	}

	.STYLESHIFT-Dropdown {
		width: 100px;
		justify-content: center;
	}

	.STYLESHIFT-Dropdown-Frame {
		align-items: center;
		gap: 10px;
	}

	.STYLESHIFT-Setting-Frame[settingtype="color"] {
		width: 95%;
	}
}
